<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Tasks and Task Lists</title>
</head>
<body>
    <h1>All Lists</h1>
    <ul>
        {% for task_list in task_list %}
            <li>{{ task_list.name }}</li>
            <li>{{ task_list.created_at }}</li>
        {% endfor %}
        
    </ul>

    <h1>All Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.content }}</li>
        {% endfor %}

    </ul>

</body>
</html>